*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: #535353;
}

/*HEADER*/
.header{
    display: block;
    width: 100%;
    height:60px;
    border-bottom: 3px solid rgb(218, 215, 215);
    overflow: hidden;
}

#logo{
    height: 370%;
    margin-top: -80px;
    margin-left: 3%;
}

.sign_in{
    float: right;
    margin-right: 3%;
    margin-top: 10px;
}

.sign_in a{
    text-decoration: none;
    color: rgb(0, 113, 227);
    cursor: pointer;
    display: block;
    margin-top: 3px;  
}

/*MAIN*/
.main{
    margin: 75px 12%;
}

/*-SIGN WITH*/

.sign_with{
    margin-top: 20px;
    margin-bottom: 20px;
}

.social_button{
    display: inline-block;
    width:  auto;
    height: 35px;
    padding: 4px 8px;
    padding-right: 8px;
    padding-top: 5px;
    margin-right: 6px;
    border-radius: 2.5px;
    border: 0px ;
    color: white;
    text-align: center;
    cursor: pointer;
}

.google_button{
    background-color: #4285F4;
}

.facebook_button{
    background-color: #3B5998;
}

.social_button img{
    height: 95%;
    margin-right: 3px;
    border-radius: 2.5px;
    vertical-align: -7px;
}

.social_buttons{
    margin-bottom: 20px;
}

/*-FORM*/

.fieldset{
    border: 0px;
}

.legend{
    display: none;
}

.label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form_input{
    display: block;
    width: 500px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 25px;
}

.check a{
    text-decoration: none;
    color: rgb(0, 113, 227);
    cursor: pointer;
}

.submit_button{
    margin-top: 20px;
    color: #BBBBC1;
    border: 2px dotted #BBBBC1;
    background: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
}

/*FOOTER*/

.footer{
    bottom: 0px;
    border-top: 3px solid rgb(218, 215, 215);
    font-weight: bolder;
}

.footer p{
    display: inline-block;
    padding: 20px 0px;
    margin-top: 12px;
    padding-left: 5.5%;
}

.footer_links{
    display: inline-block;
    padding-left: 10%;
}

.footer_links a{
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
}
